html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--light);
}
@media screen and (max-with:700px) {
    div.myCarousel {
        display: none;
    }
} /*Carousel must disapear if the screen size is less than 700px*/ 